<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            {{#each model as |bookUnit|}}
                {{#unless bookUnit.isNew}}
                    {{book-listing book=bookUnit}}
                {{/unless}}
            {{/each}}
        </div>
        {{#link-to 'new-book' class="btn btn-primary"}}Nuevo Libro{{/link-to}}
    </div>
    <div class="col-md-6">
        {{outlet}}
    </div>
</div>